body{
    background-color: rgb(128, 128, 128);
}
#wrapper{
    background-color: black;
    width: 1200px;
    height: 720px;
}
div{
    background: yellow;
}
#delete{
    background-color: darkred;
}
#customize{
    background-color: darkgoldenrod;
}
#add_food{
    background-color: darkgreen;
}
#add_drink{
    background-color: dodgerblue;
}
.buttons{
    margin-left: 30px;
    width: 100px;
    height: 30px;
    margin-right: 0;
}
#tableDiv{
    margin-top: 30px;
    margin-left: 30px;
    background-color: lightslategray;
    width: 70px;
    height:25px;
    padding: 10px;
}
.listedItems{
    margin-left: 30px;
    background-color: ghostwhite;
    width: 400px;
}
