:root{
    --antonGray: rgb(35,35,35);
}

html {
    max-width: 1200px;
}

body {
    margin: 0;
    background-color: var(--antonGray);
}
p {
    color: white;
}

h1 {
    color: white;
}

.StartButton {
    min-width: 300px;
    min-height: 150px;
    border-color: black;
    font-size: xxx-large;
    border-radius: 20px;
}

.BackButton {
    min-width: 300px;
    min-height: 100px;
    background-color: rgb(189,189,189);
    margin: 3%;
    font-size: xx-large;
}

#homeButtonDiv {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    min-height: 100px;
}

#kitchenButton {
    background-image: linear-gradient(to bottom, rgb(100, 215, 115), white );
}
#bookingsButton {
    background-image: linear-gradient(to bottom, rgb(255, 138, 0), white );
}
#orderingButton {
    background-image: linear-gradient(to bottom, rgb(161, 215, 233), white );
}

#startImage {
    width: 100%;
}

#versionText {
    margin: 3%;
    color: white;
    font-family: fantasy;
    font-size: large;
    text-decoration: underline;

}

#kitchenOverviewContent {
    width: 94%;
    min-height: 550px;
    border-style: solid;
    border-color: white;
    margin: 3%;
}

#kitchenOverviewBack {
    width: 94%;
    margin: 3%;
    border-style: solid;
    border-color: white;
}



/*
styles for bookingCalender & its branches
*/
#calendar {
    color: greenyellow;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: greenyellow;
}

#textbox {
    width: 100%;
    height: 100px;
    resize: none; /* Disable textarea resizing */
    margin-bottom: 10px;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hidden {
    display: none;
}